@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to this basic web application that was created for the Github Code Commit discussion post.</a>.</p>
</div>
